/* Title
   ========================================================================== */



/* Text
   ========================================================================== */


/* Img
   ========================================================================== */


/* Other Block
   ========================================================================== */
.bl_cardUnit {
  @include makeChildColum(
    $lc: 5,
    $lh: 40,
    $lv: 50,
    $mc: 3,
    $mh: 30,
    $mv: 40,
    $sc: 2,
    $sh: 10,
    $sv: 40
  );
}


.bl_card{
  margin-bottom: 20px;
}
