// Titles
// -------------------------------------------------------------------[]
.el_sectTtl {
  color: $fc-accent;
  font-weight: bold;
  @include textStyle(
    $fz: 3rem,
    $pb: 20px,
    $mt: - halfLeading,
    $mb: 40px
  );
  border-bottom: 1px solid currentColor;
}

.el_sectTtl02 {
  color: $fc-accent;
  font-weight: bold;
  @include textStyle(
    $fz: 2.3rem,
    $mt: 30px,
    $mb: 30px
  );
}


// Buttons
// -------------------------------------------------------------------[]
.el_btn {
  $wrp: '.el_btn';
  display: inline-block;
  padding: totalPadHeight(40) 20px;
  background-color: #aaa;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: $transSpeed;

  @include FHA() {
    opacity: $hoverOpacity;
  }

  &#{$wrp}__red{
    background-color: $red;
  }
}


// Labels
// -------------------------------------------------------------------[]
.el_label {
  $wrp: '.el_label';
  display: inline-block;
  padding: 3px 8px;
  background-color: #aaa;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  transition: $transSpeed;

  @include FHA() {
    opacity: $hoverOpacity;
  }

  &#{$wrp}__red{
    background-color: $red;
  }
}
