/* Grid System
   ========================================================================== */
.gr_wrapper {
  $wrp: '.gr_wrapper';

  // カスタマイズ可能変数
  //
  // それぞれのkeyがモディファイア名となります。
  // * gr_wrapper__xNarrow
  // * gr_wrapper__narrow
  // * gr_wrapper
  // * gr_wrapper__wide
  // * gr_wrapper__xWide
  //
  // l・m・sはそれぞれのブレークポイントに対応しており、hは横方向のガター値（horizontal）、vは縦方向のガター値（vertical）を表しています。
  //
  // 従って標準状態で3つのスクリーンサイズ * 5種類のガター値を標準搭載しており、かつモディファイアの名前や数、ガター値は自由にカスタマイズ可能です。
  //
  // _vars.scss内breakpointsマップ変数の's'を消去すれば、自動的ブレークポイント1点のグリッドシステムに切り替わります。
  //
  // -------------------------------------------------------------------
  $gutterValues:(
    xNarrow:(
      l:(
        h: 20, //example value
        v: 10 //example value
      ),
      m:(
        h: 10, //example value
        v: 5 //example value
      ),
      s:(
        h: 5, //example value
        v: 5 //example value
      )
    ),
    narrow:(
      l:(
        h: 30, //example value
        v: 20 //example value
      ),
      m:(
        h: 20, //example value
        v: 10 //example value
      ),
      s:(
        h: 10, //example value
        v: 5 //example value
      )
    ),
    default:(
      l:(
        h: 40, //example value
        v: 40 //example value
      ),
      m:(
        h: 30, //example value
        v: 20 //example value
      ),
      s:(
        h: 20, //example value
        v: 20 //example value
      )
    ),
    wide:(
      l:(
        h: 50, //example value
        v: 60 //example value
      ),
      m:(
        h: 40, //example value
        v: 30 //example value
      ),
      s:(
        h: 20, //example value
        v: 20 //example value
      )
    ),
    xWide:(
      l:(
        h: 100, //example value
        v: 90 //example value
      ),
      m:(
        h: 80, //example value
        v: 70 //example value
      ),
      s:(
        h: 40, //example value
        v: 30 //example value
      )
    )
  );

  // カスタマイズ可能変数
  //
  // $horizPercentageGutter・$vertPercentageGutter:
  //   それぞれガターを%でとるかpx固定値でとるかを制御します。
  //   残念ながらこの設定はプロジェクト全体で共通となり、モディファイアで一部だけ切り替えることはできません。
  //   そもそもページによってガターのとり方が変わるなどあり得ないでしょう。
  //
  // $maxColNum
  //   最大のカラム数を指定します。上限は特にありませんが、多ければ多いほどCSSの行数も増えます。
  //   後から増やすことは可能ですが、サイト全体を把握していない限り減らすことは危険です。
  //
  // $display
  //   レイアウトに使用するスタイルを指定します。
  //   これはあくまで標準を指定するためのものであり、いずれを指定しても常に下記のモディファイアで柔軟に上書きすることが可能です。
  //   * gr_wrapper__float
  //   * gr_wrapper__inlineTable
  //   * gr_wrapper__inlineBlock
  //   * gr_wrapper__flex
  //
  // -------------------------------------------------------------------

  $horizPercentageGutter: true;
  $vertPercentageGutter: false;
  $maxColNum: 6;
  $display: 'flex'; //float or inline-table or inline-block or flex(flex is beta)
  $childElm: '.gr_col';


  // -------------------------------------------------------------------
  //
  // ※※以下のコードはカスタマイズを想定していません※※
  //
  // -------------------------------------------------------------------

  // pxと%の切り替え
  // -------------------------------------------------------------------
  @if $horizPercentageGutter{
    $lh: percentToCont(map-get(map-get(map-get($gutterValues, default), l), h)) !global;
    $mh: percentToCont(map-get(map-get(map-get($gutterValues, default), m), h), $bp-md) !global;
    @if $alsoSm {
      $sh: percentToCont(map-get(map-get(map-get($gutterValues, default), s), h), $bp-sm) !global;
    }
  } @else {
    $lh: map-get(map-get(map-get($gutterValues, default), l), h) !global;
    $mh: map-get(map-get(map-get($gutterValues, default), m), h) !global;
    $sh: map-get(map-get(map-get($gutterValues, default), s), h) !global;
  }
  @if $vertPercentageGutter{
    $lv: percentToCont(map-get(map-get(map-get($gutterValues, default), l), v)) !global;
    $mv: percentToCont(map-get(map-get(map-get($gutterValues, default), m), v), $bp-md) !global;
    @if $alsoSm {
      $sv: percentToCont(map-get(map-get(map-get($gutterValues, default), s), v), $bp-sm) !global;
    }
  } @else {
    $lv: map-get(map-get(map-get($gutterValues, default), l), v) !global;
    $mv: map-get(map-get(map-get($gutterValues, default), m), v) !global;
    $sv: map-get(map-get(map-get($gutterValues, default), s), v) !global;
  }


  // スタイル適用
  // -------------------------------------------------------------------
  @if $alsoSm {
    @include gr_wrapperStyles(
      $display: $display,
      $childElm: $childElm,
      $lh: $lh,
      $lv: $lv,
      $mh: $mh,
      $mv: $mv,
      $sh: $sh,
      $sv: $sv
    );

    $gtrMap: (
      'wrapperClass': $wrp,
      'childElm': $childElm,
      'maxColNum': $maxColNum,
      'lv': $lv,
      'lh': $lh,
      'mv': $mv,
      'mh': $mh,
      'sv': $sv,
      'sh': $sh
    ) !global;
  } @else {
    @include gr_wrapperStyles(
      $display: $display,
      $childElm: $childElm,
      $lh: $lh,
      $lv: $lv,
      $mh: $mh,
      $mv: $mv
    );

    $gtrMap: (
      'wrapperClass': $wrp,
      'childElm': $childElm,
      'maxColNum': $maxColNum,
      'lv': $lv,
      'lh': $lh,
      'mv': $mv,
      'mh': $mh
    ) !global;
  }
  @include gr_setChildsMargin($gtrMap);
  @include gr_columnMqLoop($gtrMap);


  // default以外のgutterのモディファイア実装
  // -------------------------------------------------------------------
  @each $size, $viewports in $gutterValues{
    @if $size != 'default'{
      @if $horizPercentageGutter{
        $thislh: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), l), h)) !global;
        $thismh: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), m), h)) !global;
        @if $alsoSm {
          $thissh: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), s), h), $bp-sm) !global;
        }
      } @else {
        $thislh: map-get(map-get(map-get($gutterValues, #{$size}), l), h) !global;
        $thismh: map-get(map-get(map-get($gutterValues, #{$size}), m), h) !global;
        @if $alsoSm {
          $thissh: map-get(map-get(map-get($gutterValues, #{$size}), s), h) !global;
        }
      }
      @if $vertPercentageGutter{
        $thislv: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), l), v)) !global;
        $thismv: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), m), v)) !global;
        @if $alsoSm {
          $thissv: percentToCont(map-get(map-get(map-get($gutterValues, #{$size}), s), v), $bp-sm) !global;
        }
      } @else {
        $thislv: map-get(map-get(map-get($gutterValues, #{$size}), l), v) !global;
        $thismv: map-get(map-get(map-get($gutterValues, #{$size}), m), v) !global;
        @if $alsoSm {
          $thissv: map-get(map-get(map-get($gutterValues, #{$size}), s), v) !global;
        }
      }

      &#{$wrp}__#{$size}{
        margin-top: -#{addPxUnit($thislv)};
        @include MQ(m){
          margin-top: -#{addPxUnit($thismv)};
        }
        @if $alsoSm {
          @include MQ(s){
            margin-top: -#{addPxUnit($thissv)};
          }
        }

        @if $alsoSm {
          $thisGtrMap: (
            'wrapperClass': $wrp,
            'childElm': $childElm,
            'maxColNum': $maxColNum,
            'lv': $thislv,
            'lh': $thislh,
            'mv': $thismv,
            'mh': $thismh,
            'sv': $thissv,
            'sh': $thissh
          ) !global;
        } @else {
          $thisGtrMap: (
            'wrapperClass': $wrp,
            'childElm': $childElm,
            'maxColNum': $maxColNum,
            'lv': $thislv,
            'lh': $thislh,
            'mv': $thismv,
            'mh': $thismh
          ) !global;
        }

        @include gr_setChildsMargin($thisGtrMap);
        @include gr_columnMqLoop($thisGtrMap);
      }
    }
  }


  // display値変更のモディファイア
  // -------------------------------------------------------------------
  &#{$wrp}__float{
    @include gr_display__float($childElm);
  }

  &#{$wrp}__inlineTable{
    @include gr_display__inline(inline-table, $childElm, true);
  }

  &#{$wrp}__inlineBlock{
    @include gr_display__inline(inline-block, $childElm, true);
  }

  &#{$wrp}__flex{
    @include gr_display__flex($childElm);
  }
}
